.otp-verify-div>h5,
.otp-verify-div>p {
    color: var(--color-primary);
    text-align: center
}

.otp-verify-div>p>span{
    cursor: pointer;
}

.otp-verify-div>form>div {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--input-margin-bottom);
}

.otp-verify-div>form>div>input {
    width: 20%;
    max-width: 5rem;
    margin: 2px;
    font-size: var(--input-font-size);
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    color: var(--color-primary);
    outline: none;
    text-align: center;
    background: none;
}