.order-card {
    color: #fff;
}

.bg-c-0 {
    background: linear-gradient(-10deg, #790b1d, #ff869a);
}

.bg-c-1 {
    background: linear-gradient(-10deg, #861795, #ff80d3);
}

.bg-c-2 {
    background: linear-gradient(-10deg, #075142, #59e0c5);
}

.bg-c-3 {
    background: linear-gradient(-10deg, #956117, #ffcb80);
}


.bg-c-4 {
    background: linear-gradient(-10deg, #000282, #3191ff);
}




.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}